.container {
  max-width: 1200px;
  width: 100%;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .table {
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid black;
  }
  th {
    padding: 5px;
  }
}

.filter {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 20px;
}

.active {
  background-color: rgba(104, 255, 104, 0.2);
}

.inactive {
  background-color: rgba(59, 59, 59, 0.1);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.button {
  padding: 0 5px;
  margin: 5px;
}

.tableContainer {
  display: flex;
  justify-content: center;
  width: 95vw;
  overflow: auto;
}

@media (max-width: 750px) {
  .buttonContainer {
    flex-direction: column;
  }
}

@media (max-width: 660px) {
  .table {
    font-size: 14px;
  }
}
